.app {
  padding: 30px 50px;
}
.fight-btn {
  float: right;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  color: white;
  background: #fcc245;
}