.app {
  padding: 30px 50px;
}
.fight-btn {
  float: right;
  font-family: 'Open Sans';
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.6rem;
  color: white;
  background: #fcc245;
}
.attack {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}
.attack img {
  max-height: 100%;
  max-width: 100%;
}